.cont-graphprofiler-ctxm-mask {
  z-index: 999999;
  background: content-box;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.cont-graphprofiler-ctxm-main {
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  pointer-events: all;
  position: fixed;
  width: 8rem;
  border-radius: 4px;
  padding: 0.35rem 0 0.35rem 0.8rem;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
}

.cont-graphprofiler-ctxm-main .MuiTypography-body1 {
  font-size: 0.75rem;
}

.trans-graphprofiler-ctxm-appear {
  opacity: 0.01;
}

.trans-graphprofiler-ctxm-appear.trans-graphprofiler-ctxm-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.cont-graphprofiler-ctxm-ipt.MuiFormControl-marginDense {
  margin: 0;
  width: 6.5rem;
}

.cont-graphprofiler-ctxm-ipt .MuiInput-inputMarginDense {
  padding: 0;
  font-size: 14px;
  margin-top: 2px;
}

.cont-graphprofiler-ctxm-ipt .MuiInput-formControl {
  margin-top: 0;
}

.cont-graphprofiler-ctxm-ipt label.Mui-focused {
  display: none;
}

.cont-graphprofiler-ctxm-ipt .MuiFormLabel-root {
  font-size: 12px;
}

.cont-graphprofiler-ctxm-ipt .MuiInputLabel-shrink {
  transform: translate(0, 10px) scale(0.75);
}

.cont-graphprofiler-ctxm-ipt .MuiInputLabel-animated {
  top: -1rem;
}

.cont-graphprofiler-ctxm-ipt .Mui-focused {
  color: white !important;
}

.cont-graphprofiler-ctxm-ipt .MuiInput-underline::after {
  border-bottom: white !important;
}
