.cont-graph-ops-root {
  box-sizing: border-box;
  height: 48vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.cont-obj-insight-objtype {
  font-variant: petite-caps;
  font-size: 12px;
  float: right;
  padding: 4px;
}

.cont-obj-insight-root {
  opacity: 0;
  transition: ease-in-out 0.3s opacity;
}

.cont-obj-insight-dimmed {
  opacity: 1;
}
