.cont-leftdrawer-root .MuiPaper-root {
  padding-top: 3rem;
  z-index: 0;
}

.cont-leftdrawer-root .MuiListItemIcon-root {
  min-width: 32px;
}

.cont-layout-root .cont-layout-rightarea {
  padding: 4rem 1rem 1rem 10.5rem;
  height: calc(100vh - 5rem);
  background: #212121;
  overflow: scroll;
}

.cont-layout-root .cont-layout-rightarea .MuiPaper-root {
  padding: 1rem;
  box-sizing: border-box;
  min-height: 100%;
}

.cont-backfront-btn:hover {
  cursor: pointer;
}
