.cont-gprof-lpanel-content {
  float: left;
  height: 100%;
  width: 60%;
  padding: 1rem;
  position: relative;
}

.cont-gprof-lpanel-help {
  float: left;
  height: 100%;
  width: 20%;
  padding: 1rem;
  border-left: 1px dashed white;
  box-sizing: border-box;
}

.cont-gprof-lpanel-dataitem {
  padding: 6px 0 0 4px;
}

.cont-gprof-lpanel-datalabel {
  width: 24rem;
  display: inline-block;
  text-decoration: underline;
  pointer-events: all;
  cursor: help;
}

.cont-gprof-lpanel-savebtn {
  position: absolute;
  right: 2rem;
  bottom: 3rem;
}
